
alias bic='cd /home/kenglish/NetBeansProjects/mest'
alias ddc='cd /home/kenglish/NetBeansProjects/data_download_console'
alias sp2='cd /home/kenglish/NetBeansProjects/first2'
alias ds2='cd /home/kenglish/NetBeansProjects/dses2'
alias hailstorm='ssh hailstorm.camberhawaii.org'
